langchain
langchain-core
langchain-community
langgraph
langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai
langchain_huggingface

python-dotenv
tiktoken
requests

sentence-transformers
transformers
torch
accelerate

faiss-cpu
chromadb

fastapi
uvicorn
pydantic

pypdf
pdfplumber
unstructured

numpy
pandas
scikit-learn

beautifulsoup4
lxml

tqdm